body {
  padding: 50px;
  font: 16px "Poiret One", Helvetica, Arial, sans-serif;
  background: url(smallreadingchair.jpg) no-repeat center center fixed;
  background-size: 99vw 99vh;
  background-color: #ffffff;
}

.recommendationspicwrapper {
  margin: 0px 0px 0px 0px;
  /*background: url(inksplatter.jpg) no-repeat center center fixed;*/
}


a {
  color: inherit;
}

body {
  font-family: "Poiret One";
  font-weight: 100;
  font-size: 20px;
  text-align: center;
  font-variant: small-caps;
}

.form {
  height: 28vh;
  width: 40vw;
  background-color: #cccccc;
  margin-left: 100px;
  margin-top: 100px;
}

.login-container {
  background-color: #cccccc;
  margin-top: 5vh;
  margin-left: 5vw;
  width: 30vw;
  padding-top: 7vh;
  padding-bottom: 8vh;
}

input {
    padding: 0;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 16px;
    height: 4vh;
}

button {
  padding: 0;
  height: 30px;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0,0,0,.15);
  background-color: white;
  font-size: 15px;
  width: 18vw;
  height: 3.5vh;
  border-radius: 3px;
}

.input-group {
    margin-left: 6vw;
    width: 18vw;
    margin: auto;
}

.search {
  padding: 0;
  height: 30px;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0,0,0,.15);
  background-color: white;
  font-size: 15px;
  width: 18vw;
  height: 3.5vh;
  border-radius: 3px;
  display: inline;
}

.navbar {
  background-color: #cccccc;
  padding-bottom: 2vw;
  padding-top: 1vw;
  padding-left: 2vw;
  text-align: left;
}

.navbarbuttons {
  margin: auto;
}

.book {
  background-color: #cccccc;
  padding-top: 4vh;
  display: inline-block;
  height: 350px;
  margin: 20px 20px 20px 20px;
}

.addbuttonsdiv {
  position: absolute;
  right: -4px;
  bottom: 0;
}

.row  {
  background-color: #cccccc;
}
