<div class="recommendationspicwrapper">

<nav class="navbar">
    <div class='page-header'>
      <div class='btn-toolbar pull-right'>
          <div class='btn-group'>
            <a ui-sref="toRead"><button type="button" name="button">to-read list</button></a>
            <a ui-sref="read"><button type="button" name="button">previously-read list</button></a>
            <a ui-sref="home"><button type="button" name="button">find books</button><button type="button" name="button">logout</button></a>
          </div>
        </div>
        <h2>BOOKMARK</h2>
      </div>
</nav>

<div class="findbooks">
    <br>
  <h2>FIND BOOKS</h2>
    <br>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span><input type="search" class="form-control search-form" placeholder="title, author, or isbn" ng-model="searchText">
        </div>
      <button type="button" name="button" ng-click="$ctrl.getBooks(searchText)">SEARCH</button>
</div>

<main class="container">

    <h1>{{$ctrl.noBooks}}</h1>
      <div >
        <div class="row">
          <div class="col-md-3" ng-repeat="book in $ctrl.booksFound">
            <div class="book">
              <img src={{book.best_book[0].image_url[0]}} alt="" class="cover">
              <p class="title">{{book.best_book[0].title[0]}}</p>
              <p class="author">By: {{book.best_book[0].author[0].name[0]}}</p>

              <div class="addbuttonsdiv">

              <button  type="addbutton" name="addtoread" ng-click="$ctrl.addToRead({image_url: book.best_book[0].image_url[0], title: book.best_book[0].title[0], author: book.best_book[0].author[0].name[0]})">to-read</button>

              <button type="addbutton" name="haveread" ng-click="$ctrl.addRead({image_url: book.best_book[0].image_url[0], title: book.best_book[0].title[0], author: book.best_book[0].author[0].name[0]})">already read</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="row" ng-repeat="post in $ctrl.posts | orderBy: 'vote_count' : true | filter:searchText | orderBy:sortBy">
        <post post='post'></post>
    </div>
</main>
</div>
