<div class="recommendationspicwrapper">

<nav class="navbar">
    <div class='page-header'>
      <div class='btn-toolbar pull-right'>
          <div class='btn-group'>
            <a ui-sref="toRead"><button type="button" name="button">to-read list</button></a><a ui-sref="read"><button type="button" name="button">previously-read list</button></a><a ui-sref="home"><button type="button" name="button">find books</button><button type="button" name="button">logout</button></a>
          </div>
        </div>
        <h2>BOOKMARK</h2>
      </div>
</nav>

  <h2>TO-READ BOOKS</h2>

<main class="container">
  <div>
    <div class="row">
      <div class="col-md-3" ng-repeat="book in $ctrl.toReadBooks">
        <div class="book">
          <img src={{book.image_url}} alt="" class="cover">
          <p class="title">{{book.title}}</p>
          <p class="author">By: {{book.author}}</p>

          <div class="addbuttonsdiv">

            <button type="addbutton" name="haveread" ng-click="$ctrl.addToRead(book)">i read this book</button>

            <button  type="addbutton" name="addtoread" ng-click="$ctrl.delete(book)">delete from list</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-repeat="post in $ctrl.posts | orderBy: 'vote_count' : true | filter:searchText | orderBy:sortBy">
      <post post='post'></post>
  </div>
</main>
</div>
